body {
    /* margin: auto; */
    background-color: #ECE5DD;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
    #countryCode{
        width: 40px;
        height: 30px;
        font-size: 25px;
        margin-right: -9.6px;
        background-color: #075E54;
        border: 2px solid #075E54;
        color: white;
        outline: none;
    }
    #contact{
        outline: none;
        width: 140px;
        height: 30px;
        font-size: 25px;
        color: #075E54;
        border: 2px solid #075E54;
        border-left: none;
    }
    #button{
        width: 75px;
        height: 36px;
        font-size: 25px;
        margin-left: -10px;
        background-color: #075E54;
        border: none;
        color: white;
    }
    p{
        color: #86786a;
    }